node_modules# Node modules directory
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# npm and yarn
package-lock.json
yarn.lock

# Compiled files and build artifacts
dist/
build/
out/
coverage/

# Sass / CSS Cache
.sass-cache/
*.css.map
*.scssc

# Dependency directories
jspm_packages/

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Optional npm files
npm-debug.log
